a:hover {
    font-size: 50px;
    color: thistle;
}

/**Не переходили ссылке*/
a:link {
    color: tomato;
}

/**Переходили по ссылке*/
a:visited {
    color: turquoise;
}

/**В момент нажатия по ссылке*/
a:active {
    color: yellow;
}

a:active:hover {
    color: yellowgreen;
    font-size: 60px;
}

p::first-line {
    font-size: 50px;
}

.psev p::after {
    content: 'after';
}

.psev p::before {
    content: 'before';
}

.container p:first-child {
    color: darkred;
}

.container p:last-child {
    color: darkturquoise;
}

.container p:nth-child(2) {
    color: deeppink;
}

.container p:not(.article) {
    color: gold;
}

